[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"


[dev]
  command = "vite"            # or "npm run dev"
  functions = "netlify/functions"
  port = 8888                 # Netlify Dev default
